{% extends 'base.html' %}

{% block title %}Home - BFF Dashboard{% endblock %}

{% block content %}
  <div class="text-center">
    <h2>beacon2-ri-tools</h2>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="App Logo" class="logo mb-4 img-fluid">

    <div class="row">
      <!-- Genomic Variations Section -->
      <div class="col-md-4 section-card">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Genomic Variations</h5>
            <p class="card-text">Access examples and upload your HTML for genomic variations.</p>
            <a href="{{ url_for('example') }}" class="btn btn-primary mb-2">See Example Job</a>
            <br>
            <a href="{{ url_for('view_by_path') }}" class="btn btn-secondary">View HTML by Path</a>
          </div>
        </div>
      </div>

      <!-- Individuals Section -->
      <div class="col-md-4 section-card">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Individuals</h5>
            <p class="card-text">Access examples and upload your HTML for individuals data.</p>
            <a href="{{ url_for('individuals_example') }}" class="btn btn-primary mb-2">See Individuals Example</a>
            <br>
            <a href="{{ url_for('individuals_view_by_path') }}" class="btn btn-secondary">View Individuals JSON by Path</a>
          </div>
        </div>
      </div>

      <!-- Combined BFF Section -->
      <div class="col-md-4 section-card">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Combined BFF Example</h5>
            <p class="card-text">Load two JSON files and see them combined.</p>
            <a href="{{ url_for('combined_example') }}" class="btn btn-primary mb-2">See Combined Example</a>
            <br>
            <a href="{{ url_for('combined_view_by_path') }}" class="btn btn-secondary">Go to Combined View by Path</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
